
h1
{
border: 1px solid;
background: silver;
padding-left: 10px
}

body{

}

header{

}

main {
height: 91%;
padding-left: 10px;
}
nav{
height: 91%;
background: silver;
border: 1px solid;
padding-left: 10px;
width: 190px;

}
nav, main {float: left;}
