
h1
{
background: grey;
border: 1px solid;
padding-left: 210px;
}
body{
	background: silver;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
	height: auto;
}
header{
	padding-top: 5px;
	background: white;
}

main {

height: auto;
min-height: 200px;
padding-left: 10px;
}
nav{
background: grey;
border-right: 1px solid;
border-left: 1px solid;
height: 100vh;
min-height: 200px;
padding-left: 10px;
width: 190px;

}

nav, main {float: left;}
