
h1
{
border: 1px solid;
background: silver;
padding-left: 10px
}

body{

}

header{

}

main {
padding-left: 10px;
height: 91%;
}
nav{
background: silver;
border: 1px solid;
padding-left: 10px;
width: 190px;
height:91%;
}
nav, main {float: left;}
